@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&displayswap');
       
        h1{
            color: white;
        }
        #ueberschrift{
            text-align: center;
            font-size: 150px;
            font-family: 'Poppins';
        }

        #Text{
            color: white;
            text-align: center;
            font-family: 'Poppins';
            }
        .Text{
            color: white;
            text-align: center;
            font-family: 'Poppins';
            margin-right: 50%;
            font-size: 200%;

            }
        .ueberschrift{
            margin-right: 0.3%;
            font-size: 50px;
            }
        .ueberschrift4{
            font-size: 30px;
            color: white;
            font-family: 'Poppins';
            }
        .Frage{
                text-align: center;
                font-size: 50px;
                color: white;
                font-family: 'Poppins';
                }
        .button{
            border-radius: 20px;
            height: 60px;
            width: 300px;
            font-size: 22px;
            font-family: 'Poppins', sans-serif ;
            font-weight: 700;
            background-color: white;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            border: none;
            display: block;
            margin-top: 30px;
        }
        .button:hover{
            background-color: rgb(177, 177, 177);
        }
        .check{
            border-radius: 20px;
            height: 60px;
            width: 300px;
            font-size: 22px;
            font-family: 'Poppins', sans-serif ;
            font-weight: 700;
            background-color: white;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            border: none;
            display: block;
            margin-top: 80px;
        }

        .check:hover{
            background-color: black;
            color: white;
        }

        .back{
            margin-top: 10px;
        }


       .eingabefeld{
            border-radius: 20px;
            height: 60px;
            width: 300px;
            font-size: 22px;
            font-family: 'Poppins', sans-serif ;
            font-weight: 700;
            background-color: white;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            border: none;
            display: block;          
        }

        #done{
            display: flex;
        }

        #keyletter{
            color: white;
            text-align: center;
            font-family: 'Poppins';
            font-size: 100px;
        }