@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&displayswap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;
}
#Start{
    min-height: 100vh;
    background: linear-gradient(#00382f,#00e0bb);
}

#nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .Logo{
    color: white;
    font-weight: 760;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header .nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .nav li{
    list-style: none;
    margin-left: 22px;
}

header .nav li a{
    text-decoration: none;
    padding: 8px 17px;
    color: white;
    border-radius: 18px;
}

header .nav li a:hover,
header .nav li a.aktiv
{
    background: white;
    color: #00382f;
}

#text{
    position: center;
    margin: auto;
    color: white;
    font-size: 80px;
    padding: 300px 300px 100px;

}
.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: white;
    background: #045f58;
    background: linear-gradient(90deg, rgb(0, 112, 99) 0%, rgb(0, 177, 159) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    text-decoration: none;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: white;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 200px;
      height: 200px;
      opacity: 0;
    }
  }
iframe{
  margin-top: 100px;
  height: 1000px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: none;
  border-radius: 70px;
}
#textklein{
  margin-left: auto;
  margin: auto;
  font-size: 150%;
  color: white;
  padding: 0px 300px 5px;
}
#Fett{
  text-decoration: underline;
  font-weight: bolder;
  margin-left: auto;
  margin: auto;
  font-size: 200%;
  color: white;
  padding: 0px 300px 5px;
}